
#bsBig1 div{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    height: 100px;
    line-height: 100px;
    border-radius: 7px;
    margin: 5px 0px;
}
#bsBig2 #bsform{
    width: 100%;
    float:right;
    text-align: center;
    margin: 0 auto;
}

.bs {
    width: 80%;
    margin: 0 auto;
    padding-top: 80px;
}
.bsBig{
    width: 49%;
    display: inline-block;
}


.bsleftdone{
    background-color:#5E81AC;
    opacity: 0.8;
}
.bsleftdo{
    background-color: #8FBCBB;
    width: 92%;
}
.bsleftno{
    background-color:#81A1C1;
}



.bcal input[type="date"]{
    width: 80%;
    height: 70px;
    font-size:20px;
}
.bcal input[type="submit"]{
    width: 80%;
    height: px;
}



#bsnump input[type="text"]{
    width: 64%;
    height: 50px;
    font-size:16px;
    border-collapse : collapse;
}
#bsnump input[type="submit"]{
    width: 66%;
    padding: 15px 0px;
    font-size: 16px;
}
#bsnump #bsform {
    height:280px;
}
#bsnump #bsform div{
    margin: 3px 0px;
}



#bsqrp input[type="text"]{
    width: 64%;
    height: 50px;
    font-size:16px;
    border-collapse : collapse;
}
#bsqrp #bsform {
    height:250px;
}



.bsbs div#frame {
    display: none;
}
.bsbs canvas {
    width:100%;
}
.bsimage div#frame {
     width:100%;
     height:350px;
     text-align: center;
     margin: 0 auto;
     margin-top: 10px;
}
.bsimage canvas {
     width:100%;
}
#beimagep input[type="submit"]{
    width: 80%;
    padding: 15px 0px;
    font-size: 16px;
}



#bcalp input[type="date"]{
    width: 64%;
    height: 50px;
    font-size:16px;
    padding: 15px 0px;
    border-collapse : collapse;
}
#bcalp input[type="submit"]{
    width: 66%;
    padding: 15px 0px;
    font-size: 16px;
}
#bcalp #bsform {
    height:280px;
}
#bcalp #bsform div{
    margin: 3px 0px;
}


#bdonep #bsform{
    text-align: left;
    color: whitesmoke;
}
#bdonep #bsform {
    height:290px;
}
#bdonep #bstitle{
    font-size: 23px;
    font-weight: bold;
}
#bdonep #bdonem {
    width: 50%;
    margin: 0 auto;
}
#bdonep #bssub div{
    font-size: 20px;
    margin: 7px 0px;
}
#bdonep #bssub {
    margin-top: 20px;
}