.indexCon{
    width: 60%;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top : 190px;
}
.indexCon input[type="button"]{
    width: 98%;
    height: 350px;
    border: none;
    color: white;
    padding: 40px 32px;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.5s;
}
.indexCon div{
    display: inline-block;
    width: 32%;
    height: 450px;
    float:left;
    vertical-align:center;
}
.indexConPlus div{
    display: block;
    width: 100%;
    height: 180px;
}
.indexConPlus div input[type="button"]{
    height: 170px;
}
.indexCon input[type="button"]:hover{

}