.indexCon{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.indexCon input{
    width: 80%;
}
.indexCon div{
    display: inline-block;
    width: 32%;
}
.indexConPlus div{
    display: block;
    width: 100%;
}