.plusse {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.plusse input{
}
.plusse input[type="text"]{
    width: 320px;
    padding: 20px 5px;
    font-size: 16px;
    opacity: 0.9;
    border: none;
    background-color: unset;
    border-bottom: solid 1px white;
    margin-bottom: 5px;
    color: white;
}
.plusse input[type="submit"]{
    width: 330px;
    padding: 20px 15px;
    background-color: #8FBCBB;
    border: none;
    border-radius: 5px;
}


.plusse input[type="text"]:focus {
    outline: solid 2px #8FBCBB;
}

#plussp {
    margin-top : 200px;
}
#plusep{
    margin-top : 250px;
}
input[type="password"]{
    width: 320px;
    padding: 20px 5px;
    font-size: 16px;
    opacity: 0.9;
    border: none;
    background-color: unset;
    border-bottom: solid 1px white;
    margin-bottom: 5px;
    color: white;
}
