body{
    margin: 0;
    font-family: "Andale Mono";
}
.mainTop{
    width: 60%;
    height: 800px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px rgb(0,0,0,0.5);
    background-color: #2E3440;
}

.indexTop{
    width: 100%;
    font-size: 20px;
    background-color: #4C566A;
    color: white;
    height: 80px;
    line-height: 80px;
    border-collapse : collapse;
    border-radius: 5px 5px 0px 0px;
}
.indexTop div{
    display: inline-block;
}
.indexTop .indexToplogo{
    float: right;
    margin-right: 20px;
    line-height: 60px;
    border-radius : 10px;

}
.indexTop .indexToplogo img{
    width: 100px;
    margin-top : -10px;
    cursor: pointer;
}
.indexTop .indexTopTitle{
    padding-left: 20px;
}