<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bs.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='cal.js') }}"></script>

</head>
<body onload="build();">
<form action="{{  url_for( 'bdone' ) }}">
    <div class="mainTop"  >
    <div class="indexMain">
        <div class="indexTop">
            <div class="indexTopTitle">
                대여하기
            </div>
            <div class="indexToplogo">
                <img src="../static/animals.png" alt="">
            </div>
        </div>
        <div class="bs" id="bcalp">
            <div id="bsBig1" class="bsBig">
                <div class="bsleftdone">학번 입력</div>
                <div class="bsleftdone">학생증 QR코드 스캔</div>
                <div class="bsleftdone">기자재 바코드 스캔</div>
                <div class="bsleftdone">기자재 사진 촬영</div>
                <div class="bsleftdo">대여기간 설정</div>
            </div>
            <div id="bsBig2" class="bsBig bcal">
                <div id="bsform">
                    <div>
                        <table align="center" id="calendar">
                            <tr id="bcaltr">
                                <td><label onclick="beforem()" id="before" ></label></td>
                                <td colspan="5" align="center" id="yearmonth"></td>
                                <td><label onclick="nextm()" id="next"></label></td>
                            </tr>
                            <tr>
                                <td align="center"> <font color="red">일</font></td>
                                <td align="center"> 월 </td>
                                <td align="center"> 화 </td>
                                <td align="center"> 수 </td>
                                <td align="center"> 목 </td>
                                <td align="center"> 금 </td>
                                <td align="center"><font color="blue">토</font></td>
                            </tr>
                        </table>
                    </div>
                    <div id="bcalpdate">
                        <input type=date>
                    </div>
                    <div id="bcalpsubmit">
                        <input type="submit" value="완료">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</form>

</body>
</html>