<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bs.css') }}">
</head>
<body>
<form action="{{  url_for( 'main' ) }}">
    <div class="mainTop"  >
    <div class="indexMain">
        <div class="indexTop">
            <div class="indexTopTitle">
                대여하기
            </div>
            <div class="indexToplogo">

            </div>
        </div>
        <div class="bs" id="bdonep">
            <div id="bsBig1" class="bsBig">
                <div class="bsleftdone">학번 입력</div>
                <div class="bsleftdone">학생증 QR코드 스캔</div>
                <div class="bsleftdone">기자재 바코드 스캔</div>
                <div class="bsleftdone">기자재 사진 촬영</div>
                <div class="bsleftdone">대여기간 설정</div>
            </div>
            <div id="bsBig2" class="bsBig">
                <div id="bsform">
                    <div id="bdonem">
                        <div id="bstitle">
                            대여완료
                        </div>
                        <div id="bssub">
                             <div>
                                날짜
                             </div>
                             <div>
                                 물품명
                            </div>
                            <div>
                                대여기간
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</form>
</body>
</html>