<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bs.css') }}">
</head>
<body>
<form action="{{  url_for( 'bdon' ) }}" method="post">
    <div class="mainTop"  >
    <div class="indexMain">
        <div class="indexTop">
            <div class="indexTopTitle">
                인증하기
            </div>
            <div class="indexToplogo">
                <a href="{{  url_for( 'main' ) }}"><img src="../static/animals.png" alt=""></a>
            </div>
        </div>
        <div class="bs" id="bsqrp">
            <div id="bsBig1" class="bsBig">

                <div class="bsleftdone">학생증 QR코드 스캔</div>
                <div class="bsleftdone">인증 완료</div>
            </div>
            <div id="bsBig2" class="bsBig">
                <div id="bsform">
                    <div id="bdonem">
                        <div id="bssub">
                            <div>
                                <input type="submit" value="인증 완료">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</form>
</body>
</html>