<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bs.css') }}">
</head>
<body>
<form action="">
    <div class="mainTop"  >
    <div class="indexMain">
        <div class="indexTop">
            <div class="indexTopTitle">
                실습 기자재 관리 시스템
            </div>
            <div class="indexToplogo">

            </div>
        </div>
        <div class="rs">
            <div id="rsBig1" class="rsBig">
                <div>학번 입력</div>
                <div>학생증 QR코드 스캔</div>
                <div>기자재 바코드 스캔</div>
                <div>기자재 사진 촬영</div>
                <div>대여기간 설정</div>
            </div>
            <div id="rsBig2" class="rsBig">
                <div>
                    대여 완료
                </div>
                <div>
                    날짜 <br />
                    물품명 <br />
                    대여기간 <br />
                </div>
            </div>
        </div>
    </div>

</div>
</form>
</body>
</html>