<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width:100%;">
    <div class="indexMain">
        <div class="indexTop">
            대여하기
        </div>
        <div class="indexCon">
            <div  class="indexConRent">
                <input type="button" value="대여" onlick="location.href('bsnum.html')"/>
            </div>
            <div class="indexConReturn">
                <input type="button" value="반납" onlick="location.href('bsqr.html')"/>
            </div>
            <div class="bsqrCon">
                <div><input type="text" value="학번" onclick="location.replace('bsnum.html')"/></div>
                <div><input type="button" value="확인"/></div>
            </div>
        </div>
    </div>

</div>
</body>
</html>