<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bs.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jsQR.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='camera.js') }}"></script>

</head>
<body>
<form action="">
    <div class="mainTop"  >
    <div class="indexMain">
        <div class="indexTop">
            <div class="indexTopTitle">
                대여하기
            </div>
            <div class="indexToplogo">

            </div>
        </div>
        <div class="bs">
            <div id="bsBig1" class="bsBig">
                <div class="bsleftdone">학번 입력</div>
                <div class="bsleftdo">학생증 QR코드 스캔</div>
                <div class="bsleftno">기자재 바코드 스캔</div>
                <div class="bsleftno">기자재 사진 촬영</div>
                <div class="bsleftno">대여기간 설정</div>
            </div>
            <div id="bsBig2" class="bsBig">
                <div>
                    <input type="text" placeholder="qr코드">
                </div>
            </div>
        </div>
    </div>

</div>
</form>
</body>
</html>