<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inno</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
<form action="">
    <div class="mainTop"  >
    <div class="indexMain">
        <div class="indexTop">
            <div class="indexTopTitle">
                실습 기자재 관리 시스템
            </div>
            <div class="indexToplogo">
                <a href="{{  url_for( 'main' ) }}"><img src="../static/animals.png" alt=""></a>
            </div>
        </div>
        <div class="indexCon">
            <div class="indexConRent">
                <input type="button" onclick="window.location.href='{{  url_for( 'bsnum' ) }}'" value="대여" class="indexConbtn1"/>
            </div>
            <div class="indexConReturn">
                <input type="button" onclick="window.location.href='{{  url_for( 'reqr' ) }}'" value="반납" class="indexConbtn2"/> </div>
            <div class="indexConPlus">
                <div><input type="button" onclick="window.location.href='{{  url_for( 'pluss' ) }}'" value="학생 등록" class="indexConbtn3" /></div>
                <div><input type="button" onclick="window.location.href='{{  url_for( 'pluse' ) }}'" value="기자재 등록" class="indexConbtn4" /></div>
            </div>
        </div>
    </div>
</div>
</form>
</body>
</html>