<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plus.css') }}">

</head>
<body>
<form action="{{  url_for( 'pedone' ) }}" method="post">
    <div class="mainTop" >
    <div class="indexMain">
        <div class="indexTop">
            <div class="indexTopTitle">
                기자재 등록
            </div>
            <div class="indexToplogo">
                <a href="{{  url_for( 'main' ) }}"><img src="../static/animals.png" alt=""></a>
            </div>
        </div>
        <div class="plusse" id="plusep">
            <div>
                <div>
                    <input type="text" name="name" placeholder="이름">
                </div>
                <div>
                    <input type="password" name="code" placeholder="QR코드 입력">
                </div>
                <div>
                    <input type="submit" value="확인">
                </div>
            </div>
        </div>
    </div>
</div>
</form>
</body>
</html>