<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='rs.css') }}">

<!--    <link rel="stylesheet" href="../static/style.css">-->
<!--    <link rel="stylesheet" href="../static/rs.css">-->
</head>
<body>
<form action="{{  url_for( 'rdon' ) }}" method="post">
    <div class="mainTop"  >
    <div class="indexMain">
        <div class="indexTop">
            <div class="indexTopTitle">
                반납하기
            </div>
            <div class="indexToplogo">
                <a href="{{  url_for( 'main' ) }}"><img src="../static/animals.png" alt=""></a>
            </div>
        </div>
        <div class="rs" id="rdonep">
            <div id="rsBig1" class="rsBig">
                <div class="rsleftdone">기자재 QR코드 스캔</div>
                <div class="rsleftdone">기자재 사진 촬영</div>
            </div>
            <div id="rsBig2" class="rsBig">
                <div id="rsright">
                    <div id="rsrtitle">
                        반납 완료
                    </div>
                    <div id="rsrsub">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div>
                            <input type="submit" value="반납 완료">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</form>
</body>
</html>