<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='rs.css') }}">

</head>
<body>
<<div class="mainTop"  >
    <div class="indexMain">
        <div class="indexTop">
            <div class="indexTopTitle">
                반납하기
            </div>
            <div class="indexToplogo">

            </div>
        </div>
        <div class="rs">
            <div id="rsBig1" class="rsBig">
                <div>기자재 QR코드 스캔</div>
                <div>기자재 사진 촬영</div>
            </div>
            <div id="rsBig2" class="rsBig">
                <div>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>