<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='rs.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jsQR.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='camera.js') }}"></script>

</head>
<body>
<form action="{{  url_for( 'rdone' ) }}">
    <div class="mainTop"  >
    <div class="indexMain">
        <div class="indexTop">
            <div class="indexTopTitle">
                반납하기
            </div>
            <div class="indexToplogo">
                <a href="{{  url_for( 'main' ) }}"><img src="../static/animals.png" alt=""></a>
            </div>
        </div>
        <div class="rs" id="reimagep">
            <div id="rsBig1" class="rsBig">
                <div class="rsleftdone">기자재 QR코드 스캔</div>
                <div class="rsleftdo">기자재 사진 촬영</div>
            </div>
            <div id="rsBig2" class="rsBig">
                <div class="rsimage">
                    <div  id="rsform">
                        <div id="frame">
                            <div id="loadingMessage">
                            🎥 비디오 스트림에 액세스 할 수 없습니다<br/>웹캠이 활성화되어 있는지 확인하십시오
                            </div>
                            <canvas id="canvas"></canvas>
                        </div>
                        <div id="reimageb">
                            <input type="submit" value="확인">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</form>
</body>
</html>