<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bs.css') }}">
</head>
<body>

    <div class="mainTop"  >
    <div class="indexMain">
        <div class="indexTop">
            <div class="indexTopTitle">
                출입 목록
            </div>
            <div class="indexToplogo">
                <a href="{{  url_for( 'main' ) }}"><img src="../static/animals.png" alt=""></a>
            </div>
        </div>

    </div>
    <div>
        어떻게 출력..?
    </div>
</div>

</body>
</html>