<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='warning.css') }}">

</head>
<body>
<form action="{{  url_for( 'main' ) }}">
    <div class="mainTop" >
    <div class="indexMain">
        <div class="indexTop">
            <div class="indexTopTitle">
                경고
            </div>
            <div class="indexToplogo">
                <img src="../static/animals.png" alt="">
            </div>
        </div>
        <div class="warning" id="warningp">
            <div id="warnbox">
                <div id="warntop">

                </div>
                <div id="warntext">
                    {{ message }}
                </div>
                <div>
                    <input type="submit" value="확인">
                </div>
            </div>
        </div>
    </div>
</div>
</form>
</body>
</html>